body{
    margin: 0;
    padding: 0;
}
.gender{
    background-color: aqua;
    border-color: black;
}
.border-gender{
    border-color: black;
}

/* .container-sm{
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-self: center;
} */